**/*.log
**/.DS_Store
.env.local
.env.local.php
.env.*.local
.phpunit.result.cache
var/
vendor/
tests/
Dockerfile
.dockerignore
.php-cs-fixer.dist.php
.php-cs-fixer.cache
.phpunit.cache
phpstan.dist.neon
phpunit.dist.xml
deptrac.yaml
.deptrac.cache
bin/phpunit
